 <form class="comment-form">
    <div class="form-group m-2">
      <label for="add-comment">Write Comment</label>
      <input type="text" class="form-control" id="add-comment" />
    </div>
    <button type="submit" class="btn btn-primary m-2">Submit</button>
  </form>
</div>